@mixin sm{
    @media screen and (max-width:$sm) {
        @content;
    }
}
@mixin md{
    @media screen and (max-width:$md) {
        @content;
    }
}
@mixin lg{
    @media screen and (max-width:$lg) {
        @content;
    }
}
@mixin xl{
    @media screen and (max-width:$xl) {
        @content;
    }
}
@mixin xxl{
    @media screen and (max-width:$xxl) {
        @content;
    }
}

@mixin sliceText($num:1,$word-break:normal){
    display: -webkit-box !important;
    -webkit-line-clamp: $num !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    word-break: $word-break;
}

@mixin flex($direction:row){
    display: flex;
    align-items: center;
    flex-direction: $direction;
    @content;
}