@font-face {
   font-family: 'Manrope';
   src: url("../../fonts/Manrope-Regular.ttf") format("truetype");
}

$sm: 578px;
$md: 769px;
$lg: 993px;
$xl: 1201px;
$xxl: 1401px;  

$main-font: 'Manrope', sans-serif;

$mainBg: #F1F1F1;
 



