$sm: 578px;
$md: 769px;
$lg: 993px;
$xl: 1201px;
$xxl: 1401px;  
$xxxl:1601px;
$xxxxl:1921px;

.cards{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;
        @media (max-width:$xl) {
            justify-content: space-around;
            gap: 20px;
        }
        .bonus-card{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 120px;
        background: #F9C70B;
        cursor: pointer;
        border-radius: 20px;
        transition: .3s;
        &:hover{
            box-shadow: 0px 1px 5px gray;
        }
        @media (max-width:$xxxl) {
            width: 260px;
            height: 110px;
        }
        @media (max-width:$xxl) {
            width: 220px;
            height: 100px;
                
        }
        @media (max-width:$xl) {
            width: 250px;
            height: 100px;
        }
        @media (max-width:$sm) {
            width: 100%
        }

        &__title{
            font-size: 27px;
            font-weight: 500;
            line-height: 120%;
            @media (max-width:$xxl) {
                font-size: 23px;
            }
        }
    }
        
    }