.subscription-card{
    width: 394px;
    height: 163px;
    background: #F9C70B;
    border-radius: 9px;
    padding: 20px;
    cursor: pointer;
    transition: .3S;
    &:hover{
        box-shadow: 0px 2px 6px gray;
    }
    &>div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    &__name{
            font-size: 30px;
            font-weight: 600;
            line-height: 120%;
        }
    &__price{
        font-size: 25px;
        font-weight: 400;
        line-height: 120%;
        &>span{
            font-weight: 600;
        }
    }
    &__about{
        margin-top: 20px;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
    }
}