$sm: 578px;
$md: 769px;
$lg: 993px;
$xl: 1201px;
$xxl: 1401px;  
$xxxl:1601px;
$xxxxl:1921px;


header{
    width: 100%;
    height: 108px;
    border-bottom: 1px solid #F9C70B;
    background:#F1F1F1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 8;
    @media (max-width:$lg) {
        height: 88px;
    }
    .wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        @media (max-width:$md) {
            padding: 0px 10px;
        }
        @media (max-width:$sm) {
            padding: 0px 5px;
        }
        &__left{
            display: flex;
            align-items: center;
            .humburger-icon__wrapper{
                width: 30px;
                padding: 3px;
                margin-right: 10px;
                display: none;
                @media (max-width:$lg) {
                    display: block;
                }
                @media (max-width:$md) {
                    margin-right: 8px;
                }
                @media (max-width:$sm) {
                    margin-right: 2px;
                }
            }
            h1{
                font-family: Inter;
                font-size: 36px;
                font-weight: 700;
                line-height: 44px;
                letter-spacing: 0em;
                text-align: left;
                color: #000000;
                @media (max-width:$xl) {
                    font-size: 26px;
                }
                @media (max-width:$md) {
                    font-size: 20px;
                }
            }
        }
        &__right{
            display: flex;
            align-items: center;
            gap: 15px;
            @media (max-width:$xxl) {
                gap: 10px;  
            }
            @media (max-width:$sm) {
                gap: 5px;
            }
            .input__wrapper{
                display: flex;
                align-items: center;
                gap: 10px;
                width: 432px;
                height: 56px;
                background: white;
                border-radius: 16px;
                padding: 16px;
                @media (max-width:$xxl) {
                    width: 350px;
                    height: 50px;
                    border-radius: 14px;
                }
                @media (max-width:$xl) {
                    width: 250px;
                    height: 40px;
                    border-radius: 12px;
                }
                @media (max-width:$md) {
                    width: 180px;
                    height: 30px;
                }
                @media (max-width:$sm) {
                    display: none;
                }
                label{
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                input{
                    width: 100%;
                    border: none;
                    font-size: 14px;
                    &:focus{
                        outline: none;
                    }
                }
            }
            .notification{
                width: 55px;
                height: 55px;
                border-radius: 100%;
                padding: 10px;
                background: #F4BE37;
                @media (max-width:$xxl) {
                    width: 50px;
                    height: 50px;
                }
                @media (max-width:$xl) {
                    width: 40px;
                    height: 40px;
                }
                @media (max-width:$md) {
                    width: 30px;
                    height: 30px;
                    padding: 5px;
                }
            }
            .avatar{
                width: 55px;
                height: 55px;
                border-radius: 100%;
                overflow: hidden;
                @media (max-width:$xxl) {
                    width: 50px;
                    height: 50px;
                }
                @media (max-width:$xl) {
                    width: 40px;
                    height: 40px;
                }
                @media (max-width:$md) {
                    width: 30px;
                    height: 30px;
                }
            }
            button{
                font-size: 14px;
                font-weight: 600;
                line-height: 18px;
                text-align: center;
                border-radius: 8px;
                background: #F9C70B;
                padding: 16px 24px;
                color: #FFFFFF;
                @media (max-width:$xxl) {
                    padding: 12px 20px;
                }
                @media (max-width:$xl) {
                    padding: 10px 18px;
                }
                @media (max-width:$md) {
                    padding: 8px 16px;
                }
            }
        }
        
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

