$sm: 578px;
$md: 769px;
$lg: 993px;
$xl: 1201px;
$xxl: 1401px;  
$xxxl:1601px;
$xxxxl:1921px;

.table__wrapper{
    overflow-x: auto;
    width: 100%;
    margin-top: 40px;
    .table2{
        border-collapse: separate;
        border-spacing: 0 10px;
        margin-top: -10px; 
        thead{
            background: #F1F1F1;
            td{
                font-size: 15px;
                font-weight: 500;
                line-height: 120%;
                color: black;
                background: #F1F1F1;
                @media (max-width:$md) {
                    padding: 5px;
                    font-size: 11px;
                }
            }
        }
        tbody{
            tr{
                &:hover{
                    td{
                        background-color: #FAFAFA;
                    }
                }
            }
        }

        td {
            padding: 25px 10px;
            background-color: white;
            font-size: 18px;
            font-weight: 500;
            line-height: 120%;
            white-space: nowrap;
            @media (max-width:$xxl) {
                padding: 15px 9px;
                font-size: 16px;
            }
            @media (max-width:$xl) {
                padding: 10px 5px;
                font-size: 13px;
            }
            @media (max-width:$md) {
                padding: 10px 5px;
                font-size: 11px;
            }
            @media (max-width:$sm) {
                font-size: 10px;
            }

        }
        td:first-child {
            border-left-style: solid;
            border-top-left-radius: 10px; 
            border-bottom-left-radius: 10px;
            @media (max-width:$xl) {
                border-top-left-radius: 8px; 
                border-bottom-left-radius: 8px;
            }
        }
        td:last-child {
            border-right-style: solid;
            border-bottom-right-radius: 10px; 
            border-top-right-radius: 10px; 
            @media (max-width:$xl) {
                border-bottom-right-radius: 8px; 
                border-top-right-radius: 8px; 
            }
        }
    }
    
}
.pagination__wrapper{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;
        @media (max-width:$xxl) {
            font-size: 18px;
        }
        @media (max-width:$xl) {
            font-size: 16px;
        }
        @media (max-width:$md) {
            font-size: 12px;
        }
        @media (max-width:$sm) {
            font-size: 10px;
        }
        .pagination{
            display: flex;
            align-items: center;
            gap: 20px;
            .icon__wrapper{
                background: #FCFCFC;
                border: 2px solid #DBDBDB;
                cursor: pointer;
                border-radius: 4px;
                @media (max-width:$md) {
                    width: 28px;
                }
                &:nth-child(3){
                    transform: rotate(180deg);
                }
            }
            p{
                background: #FCFCFC;
                padding: 5px;
                border: 2px solid #DBDBDB;
                border-radius: 4px;
            }
        }
        .perPage{
            select{
                font-size: 20px;
                font-weight: 500;
                line-height: 120%;
                padding: 4px;
                border: 2px solid #DBDBDB;
                border-radius: 4px;
                cursor: pointer;
                @media (max-width:$xxl) {
                    font-size: 18px;
                }
                @media (max-width:$xl) {
                    font-size: 16px;
                }
                @media (max-width:$md) {
                    font-size: 12px;
                }
                @media (max-width:$sm) {
                font-size: 10px;
            }
                &:focus{
                        outline: none;
                    }
            }
        }
    }