$sm: 578px;
$md: 769px;
$lg: 993px;
$xl: 1201px;
$xxl: 1401px;  
$xxxl:1601px;
$xxxxl:1921px;


.charts-wrapper{
    margin-top: 40px;
    >.title{
        font-size: 36px;
        font-weight: 700;
        line-height: 120%;
        @media (max-width:$xl) {
            font-size: 32px;
            text-align: center;
        }
        @media (max-width:$sm) {
            font-size: 28px;
        }
    }
    .charts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
        margin-top: 20px;
        width: 100%;
        
}
}
