$sm: 578px;
$md: 769px;
$lg: 993px;
$xl: 1201px;
$xxl: 1401px;  
$xxxl:1601px;
$xxxxl:1921px;

.customer-cards{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 30px;
        @media (max-width:$xl) {
            justify-content: space-around;
            gap: 20px;
        }
    }