$sm: 578px;
$md: 769px;
$lg: 993px;
$xl: 1201px;
$xxl: 1401px;  
$xxxl:1601px;
$xxxxl:1921px;

.product-card{
    width: 1235px;
    display: flex;
    align-items: center;
    background: white;
    padding: 30px;
    border-radius: 32px;
    gap: 30px;
    @media (max-width:$xxxl) {
        width: 100%;
    }
    @media (max-width:$md) {
        flex-direction: column;
    }
    &__img{
        width: 60%;
        @media (max-width:$md) {
            width: 100%;
        }
    }
    &__info{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (max-width:$xxl) {
            gap: 15px;
        }
        &__title-price{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &>h1{
                font-size: 29px;
                font-weight: 700;
                line-height: 120%;
                text-transform: capitalize;
                color: black;

                @media (max-width:$xxl) {
                    font-size: 26px;
                }
                @media (max-width:$sm) {
                    font-size: 20px;
                }
            }
            &>p{
                font-weight: 700;
                font-size: 25px;
                line-height: 120%;
                color: black;
                &>span{
                    font-size: 20px;
                    color:  #B2B7C1;
                }
                @media (max-width:$xxl) {
                    font-size: 23px ;
                }
                @media (max-width:$sm) {
                    font-size: 18px;
                }
            }
        }
        &__about{
            &>h2{
                font-size: 19px;
                font-weight: 600;
                line-height: 110%;
                columns: black;
                @media (max-width:$xxl) {
                    font-size: 17px;
                }
                @media (max-width:$sm) {
                    font-size: 15px;
                }
            }
            &>p{
                font-size: 14px;
                font-weight: 400;
                line-height: 190%;
                margin-top: 10px;
                @media (max-width:$xxl) {
                    font-size: 13px;
                }
                @media (max-width:$sm) {
                    font-size: 12px;
                }
            }
        }
        &__manufacturer{
            font-size: 15px;
            font-weight: 500;
            line-height: 120%;
            color: black;
            &>span{
                font-weight: 600;
                color: #F9C70B;
            }
            @media (max-width:$xxl) {
                font-size: 14px;
            }
            @media (max-width:$sm) {
                font-size: 13px;
            }
        }
        &__count-wrapper{
            .product-order-fields{
                .product-order-inputs{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 30px;
                    @media (max-width:$xxl) {
                        gap: 20px;
                    }
                    @media (max-width:$xl) {
                        gap: 10px;
                    }
                }
                
            }
            .product-button__wrapper{
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    margin-top: 10px;
                }
            
        }
        
    }
}